text {fill:black;}
/*Collegetown*/
#dunbars-lbl {fill:green;}
#CTB-lbl {fill:green;}
#levelb-lbl {fill:green;}
#starbucks-lbl {fill:green;}

/*North Campus*/
#ckb-label {fill:green;}
#balch-lbl  {fill:green;}
#appel-label {fill:green;}
#mews-label {fill:green;}
#RPCCLabel {fill:green;}
#DonlonLabel {fill:green;}
#townhouseLabel {fill:green;}
#highriseLabel {fill:green;}
#lowrise-label {fill:green;}

/*Arts Quad*/
#goldwinsmith-label {fill:green;}
#urislibrary-label {fill:green;}
#williardstraight-label {fill:green;}
#clocktower-label {fill:green;}
#architecture-lbl {fill:green;}
#olinlibrary-label {fill:green;}

/*Engineering Quad*/
#carpenter-lbl {fill:green;}
#hollister-label {fill:green;}
#duffield-label {fill:green;}
#OlinHall-label {fill:green;}
#Upson-label {fill:green;}
#Gates-label {fill:green;}
#statler-lbl {fill:green;}
#rhodes-lbl {fill:green;}
#thurston-label {fill:green;}
#sage-label {fill:green;}

/*Ag Quad*/
#mann-label {fill:green;}
#warren-label {fill:green;}
#bailey-label {fill:green;}
#mallott-label {fill:green;}
#plantscience-label {fill:green;}
#humec-label {fill:green;}
#kennedy-label {fill:green;}

/*West Campus*/
#bethe-label {fill:green;}
#keeton-label {fill:green;}
#rose-label {fill:green;}
#becker-label {fill:green;}
#cook-label {fill:green;}